.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media(max-width: 768px) {
    &--reverse {
      .content__col:first-child {
        order: 2;
      }
    }
  }

  &__col {
    flex: 1 1 100%;
  }

  @media(min-width: 769px) {
    &__col:not(:only-child) {
      flex: 0 1 60%;
    }

    &__col + &__col {
      flex: 0 1 30%;
      padding-left: 1rem;
    }
  }
}
